<ion-view view-title="{{'mma.files.myfiles' | translate}}">
    <ion-content padding="true">
        <section ng-if="canAccessFiles()">
            <section class="list" ng-if="showPrivateFiles()">
                <a ui-sref="site.files-list({root: 'my'})" class="item item-icon-right" title="{{ 'mma.files.myprivatefiles' | translate }}">
                    <i class="icon ion-ios-arrow-right"></i>
                    {{ 'mma.files.myprivatefiles' | translate }}
                </a>
                <div class="item item-text-wrap"><p>{{ 'mma.files.myprivatefilesdesc' | translate }}</p></div>
            </section>

            <section class="list">
                <a ui-sref="site.files-list({root: 'site'})" class="item item-icon-right" title="{{ 'mma.files.sitefiles' | translate }}">
                    <i class="icon ion-ios-arrow-right"></i>
                    {{ 'mma.files.sitefiles' | translate }}
                </a>
                <div class="item item-text-wrap"><p>{{ 'mma.files.sitefilesdesc' | translate }}</p></div>
            </section>

            <div class="list" ng-if="!canDownload()">
                <div class="item item-text-wrap"><p>{{ 'mma.files.admindisableddownload' | translate }}</p></div>
            </div>
        </section>

        <!-- Only shown when the user can upload but not browse files. -->
        <section class="list" ng-if="showUpload()">
            <p class="item">{{ 'mma.files.uploadfiles' | translate }}</p>
            <div class="item item-text-wrap"><p>{{ 'mma.files.clicktoupload' | translate }}</p></div>
            <div class="item">
                <a class="button button-block" ng-click="add()">
                    <i class="icon ion-plus"></i> {{ 'mma.files.uploadafile' | translate }}
                </a>
            </div>
        </section>
    </ion-content>
</ion-view>
