
.mma-forum-discussion-link {
    text-decoration: none;
}

.mma-forum-align-right {
    justify-content: flex-end;
}

.mma-forum-reply-form.item {
    background-color: $base-background-color;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.mma-forum-textarea {
    width: 100%;
    height: 200px;
    resize: none;
}
