<ion-view view-title="{{ 'mm.courses.searchcourses' | translate }}">
    <ion-content padding="true">
        <form class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" aria-label="{{ 'mm.courses.search' | translate}}" ng-model="searchText" mm-auto-focus>
                </label>
                <button class="button button-clear" ng-click="search(searchText)" ng-disabled="searchText.length < 3">
                    {{ 'mm.courses.search' | translate }}
                </button>
            </div>
        </form>
        <div ng-if="courses">
            <div class="list">
                <div class="item">{{ 'mm.courses.totalcoursesearchresults' | translate:{$a: total} }}
                    <p class="" ng-if="total == 0">{{ 'mm.courses.nosearchresults' | translate }}</p>
                </div>
            </div>
            <section ng-repeat="course in courses track by course.id" class="list">
                <a class="item item-divider" ui-sref="site.mm_viewresult({course: course})" title="{{course.fullname}}">
                    <h2><mm-format-text watch="true">{{course.fullname}}</mm-format-text></h2>
                </a>
                <div class="item item-text-wrap" ng-if="course.summary">
                    <summary>
                        <p><mm-format-text class="mm-content-with-float" watch="true" shorten="40%" expand-on-click="true">{{course.summary}}</mm-format-text></p>
                    </summary>
                </div>
            </section>
            <ion-infinite-scroll ng-if="canLoadMore" immediate-check="false" on-infinite="loadMoreResults()">
            </ion-infinite-scroll>
        </div>
    </ion-content>
</ion-view>
